@model IEnumerable<Gym.Data.Models.Cms.PortalPage>
<div class="collapse navbar-collapse" id="webNavbar">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="MembershipPlans" asp-action="Index">Membership</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Announcements" asp-action="Index">Announcements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="FitnessClasses" asp-action="Index">Fitness Classes</a>
        </li>
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Page" asp-action="Details" asp-route-slug="@item.Slug">@item.Title</a>
            </li>
        }
    </ul>
    <a class="btn btn-light btn-sm px-3" href="#dashboard">My dashboard</a>
</div>